# This 'db' refers to the service name in docker-compose.yml
DB_HOST=
# Default PostgreSQL port
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
# Port your NestJS app will run on inside the container
APP_PORT=
