html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

main {
  width: 1024px;
  font-size: 1.6rem;
  background-color: #fafafa;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
}
